# Datasets en Preprocessing

In [14]:
# All imports

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objs as go
import plotly.express as px
import calendar

# from pyaxis import pyaxis

from plotly.offline import init_notebook_mode
init_notebook_mode(connected=True)

## Dataset 1: Consumer Price Index

In [13]:
# Load source dataset 1

# CPI_url = "dataset_sources/CPI.px"
# CPI_decoded = pyaxis.parse(uri = CPI_url , encoding = 'ISO-8859-2')
# df_CPI = CPI_decoded["DATA"]
# df_CPI.to_csv('processed_data/CPI.csv', index=False)

# Load converted source dataset 1
df_CPI = pd.read_csv('processed_data/CPI.csv')
# df_CPI.info()
# df_CPI.head(n=5)

### Source

<table>
    <tr>
        <td>
            Bron:
        </td>
        <td>
            Statistics Sweden(SCB)
        </td>
    </tr>
    <tr>
        <td>
            Naam:
        </td>
        <td>
            Consumer Price Index (CPI), monthly changes, percent by economic indicator and month
        </td>
    </tr>
    <tr>
        <td>
            URL:
        </td>
        <td>
            https://www.statistikdatabasen.scb.se/pxweb/en/ssd/START__PR__PR0101__PR0101S/SnabbStatPR0101/
        </td>
    </tr>
</table>


Deze dataset, komt van Statistics Sweden, het statestiek bureau van de Zweedse overheid. Onze 'source' dataset komt van de URL hierboven, met:

- Observatoins: Montly changes
- economic indicator: all
- month: all (2014M01 t/m 2025M05)

### Beschrijving
De dataset geeft een overzicht van de maandelijkse veranderingen in CPI voor Zweden, van januari 2014 tot en met mei 2025. Het bied inzicht in inflatieontwikkelingen in Zweden. 

Het bevat zes verschillende prijsindexen:
1. CPI: standaard
2. CPI-CT: sluit belastingwijzigingen uit
3. CPIF: houdt hypotheekrentes constant
4. CPIF-CT: combinatie van CPIF en CPI-CT
5. HICP: Geharmoniseerde consumentenprijsindex, methode om inflatie internationaal te vergelijken
6. HICP-CT: hetzelfde als CPI-CT maar dan met de methode van HICP

Elke maand wordt het percentage weergeven waarmee de prijzen zijn verandert ten opziche van de maand ervoor.

### Processing

In [3]:
# Code processig en filterig hier
# TODO, Uncomment de de code hieronder, en zet de code er in; uncomment ook de load in Visualisatie.ipynb

# df_CPI_processed = 
# df_CPI_processed.to_csv('processed_data/CPI_2014-2024.csv', index=False)

Tijdens de preprocessing hebben we:

- Alleen data voor Zweden geselecteerd
- De tijdspanne beperkt tot januari 2014 t/m december 2024
- De relevante kolommen behouden

<table>
    <thead>
        <tr>
            <td></td>
            <td>
                Source
            </td>
            <td>
                Na preprocessing
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Datapunten
            </td>
            <td>
                822
            </td>
        </tr>
        <tr>
            <td>
                Variabelen
            </td>
            <td>
                4
            </td>
        </tr>
        <tr>
            <td>
                Tijdspanne
            </td>
            <td>
                Jan 2014 - Juni 2025
            </td>
        </tr>
    </tbody>
</table>

## Dataset 2: World Development Indicators

In [5]:
# Laad source dataset 2

# df_WDI_all = pd.read_csv('dataset_sources/WDI_Data.csv')
# df_WDI_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441 entries, 0 to 440
Data columns (total 54 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   438 non-null    object
 1   Country Code   436 non-null    object
 2   Series Name    436 non-null    object
 3   Series Code    436 non-null    object
 4   1975 [YR1975]  436 non-null    object
 5   1976 [YR1976]  436 non-null    object
 6   1977 [YR1977]  436 non-null    object
 7   1978 [YR1978]  436 non-null    object
 8   1979 [YR1979]  436 non-null    object
 9   1980 [YR1980]  436 non-null    object
 10  1981 [YR1981]  436 non-null    object
 11  1982 [YR1982]  436 non-null    object
 12  1983 [YR1983]  436 non-null    object
 13  1984 [YR1984]  436 non-null    object
 14  1985 [YR1985]  436 non-null    object
 15  1986 [YR1986]  436 non-null    object
 16  1987 [YR1987]  436 non-null    object
 17  1988 [YR1988]  436 non-null    object
 18  1989 [YR1989]  436 non-null    object
 19  1990 [YR1990]  436 non-null    object
 20  1991 [YR1991]  436 non-null    object
 21  1992 [YR1992]  436 non-null    object
 22  1993 [YR1993]  436 non-null    object
 23  1994 [YR1994]  436 non-null    object
 24  1995 [YR1995]  436 non-null    object
 25  1996 [YR1996]  436 non-null    object
 26  1997 [YR1997]  436 non-null    object
 27  1998 [YR1998]  436 non-null    object
 28  1999 [YR1999]  436 non-null    object
 29  2000 [YR2000]  436 non-null    object
 30  2001 [YR2001]  436 non-null    object
 31  2002 [YR2002]  436 non-null    object
 32  2003 [YR2003]  436 non-null    object
 33  2004 [YR2004]  436 non-null    object
 34  2005 [YR2005]  436 non-null    object
 35  2006 [YR2006]  436 non-null    object
 36  2007 [YR2007]  436 non-null    object
 37  2008 [YR2008]  436 non-null    object
 38  2009 [YR2009]  436 non-null    object
 39  2010 [YR2010]  436 non-null    object
 40  2011 [YR2011]  436 non-null    object
 41  2012 [YR2012]  436 non-null    object
 42  2013 [YR2013]  436 non-null    object
 43  2014 [YR2014]  436 non-null    object
 44  2015 [YR2015]  436 non-null    object
 45  2016 [YR2016]  436 non-null    object
 46  2017 [YR2017]  436 non-null    object
 47  2018 [YR2018]  436 non-null    object
 48  2019 [YR2019]  436 non-null    object
 49  2020 [YR2020]  436 non-null    object
 50  2021 [YR2021]  436 non-null    object
 51  2022 [YR2022]  436 non-null    object
 52  2023 [YR2023]  436 non-null    object
 53  2024 [YR2024]  436 non-null    object
dtypes: object(54)
memory usage: 186.2+ KB

### Source

<table>
    <tr>
        <td>
            Bron:
        </td>
        <td>
            World Bank Group
        </td>
    </tr>
    <tr>
        <td>
            Naam:
        </td>
        <td>
            World Development Indicators
        </td>
    </tr>
    <tr>
        <td>
            URL:
        </td>
        <td>
            https://databank.worldbank.org/source/world-development-indicators
        </td>
    </tr>
</table>


Deze dataset, komt van World Bank Group. Onze 'source' dataset komt van de URL hierboven, met:

- Database: World Development Indicators
- Country: Sweden
- Series: Economic Policy & Debt (all), Financial Sector (all), Poverty (all)
- Time: all (1975 - 2024)

### Beschrijving
Deze dataset bevat economische en financiële indicatoren voor Zweden van 2014 tot 2024. Een aantal belangrijke veriabelen zijn: BBP, bruto nationaal inkomen, armoedecijfers en de gini-index(inkomensongelijkheid). Deze gegevens vormen een belangrijk achtergrondkader voor het interpreteren van trends in voedselprijzen en inkomensverdeling.

### Processing

In [6]:
# Code processig en filterig hier
# df_temp = df_WDI_all
# for x in range(1975, 2014):
#    st = str(x) + ' [YR' + str(x) + ']'
#    df_temp = df_temp.drop(st, axis=1)
# df_WDI_processed = df_temp
€ df_WDI_processed.to_csv('processed_data/WDI_2014-2024.csv', index=False)

In [7]:
# Laad processed data

# df_WDI_processed = pd.read_csv('processed_data/WDI_2014-2024.csv')
# df_WDI_processed.info()
# df_WDI_processed.head(n-5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441 entries, 0 to 440
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   438 non-null    object
 1   Country Code   436 non-null    object
 2   Series Name    436 non-null    object
 3   Series Code    436 non-null    object
 4   2014 [YR2014]  436 non-null    object
 5   2015 [YR2015]  436 non-null    object
 6   2016 [YR2016]  436 non-null    object
 7   2017 [YR2017]  436 non-null    object
 8   2018 [YR2018]  436 non-null    object
 9   2019 [YR2019]  436 non-null    object
 10  2020 [YR2020]  436 non-null    object
 11  2021 [YR2021]  436 non-null    object
 12  2022 [YR2022]  436 non-null    object
 13  2023 [YR2023]  436 non-null    object
 14  2024 [YR2024]  436 non-null    object
dtypes: object(15)
memory usage: 51.8+ KB

Tijdens het preprocessing hebben we:

- Alleen data voor Zweden geselecteerd
- De tijdsperiode beperkt tot 2014–2024
- Indicatoren gefilterd op relevantie
- Ontbrekende waarden verwijderd waar nodig.

<table>
    <thead>
        <tr>
            <td></td>
            <td>
                Source
            </td>
            <td>
                Na preprocessing
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Datapunten
            </td>
            <td>
                209
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                Variabelen
            </td>
            <td>
                95
            </td>
            <td>
                93
            </td>
        </tr>
        <tr>
            <td>
                Tijdspanne
            </td>
            <td>
                1975 - 2025
            </td>
            <td>
                2014 - 2024
            </td>
        </tr>
    </tbody>
</table>

## Dataset 3: Annual net earnings

In [8]:
# Laad source dataset 3

df_annual_net_earnings = pd.read_csv('dataset_sources/estat_earn_nt_net_en.csv')
df_annual_net_earings.info()

NameError: name 'df_annual_net_earings' is not defined

### Source

<table>
    <tr>
        <td>
            Bron:
        </td>
        <td>
            Eurostat
        </td>
    </tr>
    <tr>
        <td>
            Naam
        </td>
        <td>
            Annual Net Earnings
        </td>
    </tr>
    <tr>
        <td>
            URL:
        </td>
        <td>
            https://ec.europa.eu/eurostat/databrowser/bookmark/6adafcb6-297e-4d27-b687-9b7c189c264c?lang=en
        </td>
    </tr>
</table>


Deze dataset komt van eurostat. Eurostat is van de europese commissie. Wij hebben onze 'source' dataset van de URL hierboven, met:

- Row: Geopolitical entity: Sweden
- Column: all
- Dimensions: all

### Beschrijving

Deze dataset bevat de financiele gegevens voor verschillende type huishoudens in Zweden van 2014 tot 2024. De gegevens zijn weergeven in euro en in de valuta van Zweden. De dataset bevat onder andere: bruto inkomen, netto inkomen, uitkeringen, inkomstenbelasting, sociale zekerheid en het type huishouden(gezin zonder kinderen, eenverdieners, alleenstaanden, etc.).

### Processing

In [9]:
# Code processing en sla op

# df_annual_net_earnings_processed = df_annual_net_earnings[((df_annual_net_earnings['geo'] == 'Sweden') & (df_annual_net_earnings['TIME_PERIOD'] >= 2014))].drop('geo', axis=1)
# df_annual_net_earnings_processed.to_csv('processed_data/Annual_Net_Earnings_Sweden_2014-2024.csv', index=False)

In [10]:
# Laad processed data

# df_annual_net_earnings_processed = pd.read_csv('processed_data/Annual_Net_Earnings_Sweden_2014-2024.csv')
# df_annual_net_earnings_processed.info()
# df_annual_net_earnings_processed.head(n=5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2466 entries, 0 to 2465
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     2466 non-null   object
 1   LAST UPDATE  2466 non-null   object
 2   freq         2466 non-null   object
 3   currency     2466 non-null   object
 4   estruct      2466 non-null   object
 5   ecase        2466 non-null   object
 6   TIME_PERIOD  2466 non-null   int64
 7   OBS_VALUE    2466 non-null   float64
 8   OBS_FLAG     0 non-null      float64
 9   CONF_STATUS  0 non-null      float64
dtypes: float64(3), int64(1), object(6)
memory usage: 192.8+ KB

Tijdens de preprocessing hebben we:

- De tijdspanne beperkt tot 2014–2024
- Enkel de relevante huishoudtypes behouden voor vergelijking
- Zowel euro’s als SEK omgerekend naar een uniforme valuta waar nodig

<table>
    <thead>
        <tr>
            <td></td>
            <td>
                Source
            </td>
            <td>
                Na preprocessing
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Datapunten
            </td>
            <td>
                193548
            </td>
            <td>
                5742
            </td>
        </tr>
        <tr>
            <td>
                Variabelen
            </td>
            <td>
                11
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                Tijdspanne
            </td>
            <td>
                2000 - 2024
            </td>
            <td>
                2014 - 2024
            </td>
        </tr>
    </tbody>
</table>